@import '../../../../styles/variables';
.main {
  @apply md:grid grid-cols-12;
  background-color: $ui-background;
}
.content {
  @apply pt-12 col-span-5;
  h2 {
    color: #262626;
    @apply relative z-10;
    &::before {
      content: '';
      height: 80px;
      width: 80px;
      background-image: url('../../../../public/ui-elements/Pattern.png');
      background-size: cover;
      position: absolute;
      top: -50px;
      left: -50px;
      z-index: -1;
    }
  }
  p {
    color: $black-fade-md;
  }
  button {
    @apply mb-8;
  }
}
.card {
  width: 400px;
  background-color: #fff;
  @apply p-6 h-full;
  p {
    color: #747474;
    @apply mt-3 mb-8;
  }
}
.info {
  @apply flex items-center;
  h5,
  p {
    margin: 0;
  }
  h5 {
    color: #262626;
  }
  p {
    @apply text-sm italic;
  }
}
.comment {
  height: 300px;
  overflow-y: auto;
}
.dp {
  height: 60px;
  width: 60px;
  background-color: blue;
  @apply rounded-full mr-4 bg-cover bg-center;
}
.cardsWrapper {
  @apply col-span-7;
}

@media (max-width: $mobile-breakpoint) {
  .card {
    width: 100%;
    p {
      @apply text-base;
    }
  }
  .comment {
    height: auto;
  }
  .info {
    h5 {
      @apply text-lg;
    }
    p {
      @apply text-sm;
    }
  }
  .dp {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}
