.card {
  @apply shadow-lg rounded-md p-2 border border-gray-300 bg-gray-50 mb-5 md:mb-0;
  .image {
    height: 0;
    padding-top: 56.25%;
    @apply bg-cover bg-center mb-3;
  }
  .content {
    .title {
      @apply text-xl mb-0;
    }
    .headline {
      @apply text-base text-gray-400;
    }
    .btnContainer {
      @apply flex justify-between items-center;
      button {
        @apply rounded-full shadow-none text-sm py-1 ml-auto #{!important};
        filter: drop-shadow(-2px 2px 2px rgba(100, 55, 226, 0.25));
      }
      .tag {
        @apply flex text-xs bg-gray-200 rounded-full px-2 py-1 capitalize;
        .icon {
          @apply text-sm mr-1;
          color: gray;
        }
      }
    }
  }
}
