@import '../variables';
.animation {
  width: 100%;
}
.content {
  @apply md:pl-20 flex items-center text-center md:text-left;
  h2 {
    line-height: 1.4;
  }
  span {
    color: $primary-color;
    @apply text-4xl md:text-5xl font-semibold;
  }
  p {
    color: $black-fade-md;
    @apply mb-4 text-base md:text-lg md:w-9/12;
  }
  button {
    width: 180px;
    @apply my-2 md:my-8 mr-3 rounded-sm;
  }
}
.socialmedia {
  @apply flex justify-center md:justify-start mt-4;
  li {
    height: 35px;
    width: 35px;
    background-color: #cbc7c5;
    @apply inline-flex justify-center items-center rounded-full mr-6;
  }
}
.icon {
  color: #24292c;
}
