@import '../variables';
.main {
  @apply grid-cols-none pt-20;
}
.head {
  p {
    color: $black-fade-md;
    @apply text-base;
  }
}
.gridWrap {
  @apply mt-10 md:grid grid-cols-6 grid-rows-2 gap-6;
}
.firstProject,
.secondProject,
.thirdProject,
.fourthProject {
  p {
    @apply text-sm md:text-base;
    color: $ui-background;
  }
  h3 {
    color: $ui-background;
    @apply text-2xl md:text-3xl mt-3;
  }
  button {
    background-color: $ui-background;
    color: #262626;
    filter: drop-shadow(-6px 6px 8px rgba(75, 75, 75, 0.25));
    @apply rounded;
  }
  @apply relative p-6 pb-16 md:p-8 rounded-3xl overflow-hidden shadow-lg mb-6 md:mb-0;
}
.firstProject {
  background-color: $primary-color;
  @apply col-span-2 row-span-2;
}
.secondProject {
  background-color: $hot-pink;
  @apply col-span-4 pb-20;
}
.thirdProject {
  background-color: $cool-green;
  @apply col-span-2;
}

.fourthProject {
  background-color: $primary-color;
  @apply col-span-2;
}
.moreBtn {
  bottom: 10px;
  right: 50px;
  height: 50px;
  width: 50px;
  @apply rounded-full absolute #{!important};
}
.icon {
  transform: scale(2);
}
.pcMockup {
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
}
.mobileMockup {
  width: 700px;
  position: absolute;
  left: 50%;
  bottom: -130px;
  transform: translateX(-50%);
}
.btnContainer {
  @apply flex justify-end mt-8;
  span {
    color: $black-fade-md;
    @apply block text-sm italic;
  }
  button {
    @apply mt-2;
  }
}

@media (max-width: $mobile-breakpoint) {
  .firstProject,
  .secondProject {
    height: 500px;
  }
  .mobileMockup {
    width: 500px;
  }
  .pcMockup {
    right: -100px;
    top: 100%;
    transform: translateY(-100%);
  }
}
