@import '../../../../styles/variables';

.main {
  background-color: $ui-background;
  @apply py-0;
}
.imageContainer {
  @apply inline-flex items-center h-full p-4;
  width: 350px;
  background-color: #dfdfdf;
}
.content {
  @apply py-10 order-1;
  p {
    @apply text-base my-5;
    color: $black-fade-md;
  }
}
.socialmedia {
  @apply flex;
  li {
    height: 35px;
    width: 35px;
    background-color: #cbc7c5;
    @apply inline-flex justify-center items-center rounded-full mr-6;
  }
}
.icon {
  color: #2e353a;
}

@media (max-width: $mobile-breakpoint) {
  .imageContainer {
    width: 100%;
    background-color: transparent;
  }
}
