$background: #fdfdfd;
$ui-background: #f6f6f6;
$primary-bg: #e5e5e5;
$black: #000;
$black-fade-md: #808080;
$black-fade-sm: #505050;
$primary-color: #6437e2;
$hot-pink: #ff5678;
$cool-green: #1eae98;
$white: #fff;

$mobile-breakpoint: 576px;
