@import '../../../../styles/variables';

.main {
  background-color: $ui-background;
  @apply grid-cols-none py-16 px-0;
  ul {
    @apply flex justify-center mt-8 flex-wrap;
    li {
      height: 60px;
      width: 60px;
      background-color: #c4c4c4;
      transition: all 0.5s ease-in-out;
      @apply rounded-full mx-2 md:mx-4 inline-flex justify-center items-center my-2;
      &:hover {
        background-color: #6437e2;
        color: #fff;
      }
    }
  }
}
.data {
  @apply flex justify-between md:justify-center text-center px-6;
  div {
    color: $black-fade-sm;
    @apply md:px-8;
    h4 {
      @apply text-2xl md:text-3xl font-semibold;
    }
    p {
      @apply text-base md:text-xl;
    }
  }
}
.icon {
  transform: scale(1.5);
}

@media (max-width: $mobile-breakpoint) {
  .main {
    ul {
      li {
        height: 50px;
        width: 50px;
      }
    }
  }
  .icon {
    transform: scale(1.3);
  }
}
